# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

# IDE specific
.vscode/
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs

# Crash reports and memory dumps
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db
